@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor;

<h2>Are you sure you want to delete this?</h2>

<h2>Flavor: @Html.DisplayFor(model => model.FlavorName)</h2>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

@Html.ActionLink("Back to flavor list", "Index")